<?xml version="1.0" encoding="utf-8"?>
<xex>
  <baseaddr addr="0x90E00000"/>
  
  <format>
    <compressed/>
  </format>
  
  <mediatypes>
    <harddisk />
  </mediatypes>

  <sysdll/>
  <section file="sectionData\hv.bin" name="hv" memory="RW"/>
  <section file="sectionData\xui.xzp" name="xui" memory="RO"/>
  <section file="sectionData\patches\retail.bin" name="rgh" memory="RO"/>
  <section file="sectionData\patches\devkit.bin" name="dev" memory="RO"/>
</xex>