<?xml version="1.0" encoding="utf-8"?>
<xex>
  <baseaddr addr="0x90E00000"/>
  
  <format>
    <compressed/>
  </format>
  
  <mediatypes>
    <harddisk />
  </mediatypes>

  <sysdll/>
  <section file="sectionData\hv.bin" name="HV" memory="RW"/>
  <section file="sectionData\xui.xzp" name="xui" memory="RO"/>
  <section file="sectionData\patches_retail.bin" name="RETAILP" memory="RO"/>
  <section file="sectionData\patches_devkit.bin" name="DEVKITP" memory="RO"/>
</xex>